@charset "UTF-8";

/* 基本スタイル */
body {
  background:#C9E8FC;
  padding:10px 10px;
}
* {
  box-sizing:border-box;
}
a ,
a:focus ,
a:active ,
a:hover ,
a:visited {
  color:#336699;
}
a:focus ,
a:active ,
a:hover  {
  color:#cc0000;
}
h1 {
  background:#DC5E9D;
  color:#FEE517;
  text-align:center;
  margin:5px 0 10px;
  padding:5px 5px 3px 5px;
  font-size:4.0vw;
}
h2 {
  color:#333;
  text-align:center;
  margin:0;
  padding:10px 0;
  font-size:3.0vw;
}
ul#hosoku {
  padding:10px 0px;
  list-style:none;
  font-size:0;
  padding:0;
}
ul#hosoku:after {
  content:"";
  clear:both;
  display:block;
}
ul#hosoku li {
  background:#fff;
  display:inline-block;
  width:40%;
  border-radius:10px;
  padding:10px;
  font-weight:bold;
  font-size:16px;
  font-size:3.0vw;
}
ul#hosoku li#hosoku1 {
  float:left;
  color:#65BFE2;
}
ul#hosoku li#hosoku2 {
  float:right;
  color:#DC5E9D;
}
div#hosoku3 img {
  padding:10px 0;
}
div#hosoku3 img {
  width:100%;
}
div#hosoku5 {
  background:#fff;
  border-radius: 5px;
  margin :0 0 10px 0;
  padding:10px;
  text-align:center;
}
archive#version {
  display:block;
  color:#666;
  font-size:1vw;
}
archive#menu {
  display:block;
  color:#666;
  font-size:1.5vw;
  color:#336699;
  display:inline-block;
}
archive#notes {
  display:block;
  background:#fff;
  border:1px solid #cc0000;
  color:#cc0000;
  font-size:1.5vw;
  color:#cc0000;
  padding:10px;
  margin:3.5vh 0 0;
}

/* 通常のスタイル */
ul#normal ,
ul#normal2 ,
ul#collabo ,
ul#collabo2 ,
ul#factor ,
ul#factor2 ,
ul#stellar ,
ul#stellar2 ,
ul#another ,
ul#another2 {
  display:table;
  display:flex;
/*  background:#fff;*/
  list-style:none;
  font-size:0;
  padding:0;
}
ul#another ,
ul#another2 {
  background:#F9DEC9;
}
ul#collabo ,
ul#collabo2 {
  background:#D7FFC5;
}
ul#factor ,
ul#factor2 {
  background:#D0C6FF;
}
ul#stellar ,
ul#stellar2 {
  background:#ffddee;
}
ul#normal:after ,
ul#normal2:after ,
ul#collabo:after ,
ul#collabo2:after ,
ul#factor:after ,
ul#factor2:after ,
ul#stellar:after ,
ul#stellar2:after ,
ul#another:after ,
ul#another2:after {
  content:"";
  clear:both;
  display:block;
}
ul#normal li ,
ul#normal2 li ,
ul#collabo li ,
ul#collabo2 li ,
ul#factor li ,
ul#factor2 li ,
ul#stellar li ,
ul#stellar2 li ,
ul#another li ,
ul#another2 li {
  display:inline-block;
  width:20%;
  padding:0px;
  padding-bottom:10px;
  font-size:0px;
  float:left;
  text-align:center;
  box-sizing:border-box;
  border-right:2px solid #DC5E9D;
}
ul#normal li:after ,
ul#normal2 li:after ,
ul#collabo li:after ,
ul#collabo2 li:after ,
ul#factor li:after ,
ul#factor2 li:after ,
ul#stellar li:after ,
ul#stellar2 li:after ,
ul#another li:after ,
ul#another2 li:after {
  content:"";
  clear:both;
  display:block;
}
ul#normal li:nth-child(5) ,
ul#normal2 li:nth-child(5) ,
ul#collabo li:nth-child(5) ,
ul#collabo2 li:nth-child(5) ,
ul#factor li:nth-child(5) ,
ul#factor2 li:nth-child(5) ,
ul#stellar li:nth-child(5) ,
ul#stellar2 li:nth-child(5) ,
ul#another li:nth-child(5) ,
ul#another2 li:nth-child(5) {
  border-right:2px solid transparent;
}
ul#normal li span ,
ul#normal2 li span ,
ul#collabo li span ,
ul#collabo2 li span ,
ul#factor li span ,
ul#factor2 li span ,
ul#stellar li span ,
ul#stellar2 li span ,
ul#another li span ,
ul#another2 li span {
  width:40%;
  float:left;
  display:inline-block;
}
ul#normal li span img ,
ul#normal2 li span img ,
ul#collabo li span img ,
ul#collabo2 li span img ,
ul#factor li span img ,
ul#factor2 li span img ,
ul#stellar li span img ,
ul#stellar2 li span img ,
ul#another li span img ,
ul#another2 li span img {
  width:100%;
  box-sizing:border-box;
  border:1px solid #999;
}
ul#normal li span img.charaimg[link^="http"] ,
ul#normal2 li span img.charaimg[link^="http"] ,
ul#collabo li span img.charaimg[link^="http"] ,
ul#collabo2 li span img.charaimg[link^="http"] ,
ul#factor li span img.charaimg[link^="http"] ,
ul#factor2 li span img.charaimg[link^="http"] ,
ul#stellar li span img.charaimg[link^="http"] ,
ul#stellar2 li span img.charaimg[link^="http"] ,
ul#another li span img.charaimg[link^="http"] ,
ul#another2 li span img.charaimg[link^="http"] {
  cursor:pointer;
}
ul#normal li span.nosp img ,
ul#normal2 li span.nosp img ,
ul#collabo li span.nosp img ,
ul#collabo2 li span.nosp img ,
ul#factor li span.nosp img ,
ul#factor2 li span.nosp img ,
ul#stellar li span.nosp img ,
ul#stellar2 li span.nosp img ,
ul#another li span.nosp img ,
ul#another2 li span.nosp img {
  border:1px solid transparent;
}
ul#normal li span img.icons ,
ul#normal2 li span img.icons ,
ul#collabo li span img.icons ,
ul#collabo2 li span img.icons ,
ul#factor li span img.icons ,
ul#factor2 li span img.icons ,
ul#stellar li span img.icons ,
ul#stellar2 li span img.icons ,
ul#another li span img.icons ,
ul#another2 li span img.icons {
  display:none;
}

ul#normal li span:nth-child(even) ,
ul#collabo li span:nth-child(even) ,
ul#factor li span:nth-child(even) ,
ul#stellar li span:nth-child(even) ,
ul#another li span:nth-child(even) {
  margin:5% 5% 0 7%;
}
ul#normal li span:nth-child(odd) ,
ul#collabo li span:nth-child(odd) ,
ul#factor li span:nth-child(odd) ,
ul#stellar li span:nth-child(odd) ,
ul#another li span:nth-child(odd) {
  margin:5% 5% 0 0;
}
ul#collabo li span:nth-of-type(1) ,
ul#normal li span:nth-of-type(1) {
  margin-top:0;
}
ul#collabo li span:nth-of-type(2) ,
ul#normal li span:nth-of-type(2) {
  margin-top:0;
}
ul#normal li#tokusei1 h2 ,
ul#collabo li#tokusei1c h2 ,
ul#factor li#tokusei1f h2 ,
ul#stellar li#tokusei1s h2 ,
ul#another li#tokusei1a h2 {
  color:#0899E8;
}
ul#normal li#tokusei2 h2 ,
ul#collabo li#tokusei2c h2 ,
ul#factor li#tokusei2f h2 ,
ul#stellar li#tokusei2s h2 ,
ul#another li#tokusei2a h2 {
  color:#0AADE8;
}
ul#normal li#tokusei3 h2 ,
ul#collabo li#tokusei3c h2 ,
ul#factor li#tokusei3f h2 ,
ul#stellar li#tokusei3s h2 ,
ul#another li#tokusei3a h2 {
  color:#8D8FC0;
}
ul#normal li#tokusei4 h2 ,
ul#collabo li#tokusei4c h2 ,
ul#factor li#tokusei4f h2 ,
ul#stellar li#tokusei4s h2 ,
ul#another li#tokusei4a h2 {
  color:#E45197;
}
ul#normal li#tokusei5 h2 ,
ul#collabo li#tokusei5c h2 ,
ul#factor li#tokusei5f h2 ,
ul#stellar li#tokusei5s h2 ,
ul#another li#tokusei5a h2 {
  color:#E0057B;
}
ul#normal2 li#tokusei5 span ,
ul#collabo2 li#tokusei5c span ,
ul#factor2 li#tokusei5f span ,
ul#stellar2 li#tokusei5s span ,
ul#another2 li#tokusei5a span {
  display:block;
  width:100%;
  color:#E0057B;
  font-size:2.5vw;
  font-weight:bold;
  text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;
}
ul#normal2 li#tokusei5 span {
  color:#3782D2;
}
ul#another2 li#tokusei5a span {
  color:#E0057B;
}
ul#collabo2 li#tokusei5c span {
  color:#119900;
}
ul#factor2 li#tokusei5f span {
  color:#6805E0;
}
ul#stellar2 li#tokusei5s span {
  color:#E0057B;
}
ul#another li h2 {
//  display:none;
}
div#hosoku4 {
  display:none;
}
body#equip div#hosoku4 ,
body#equip5 div#hosoku4 ,
body#equip4 div#hosoku4 ,
body#equip3 div#hosoku4 ,
body#equip2 div#hosoku4 {
  display:block;
  padding:0px 0 10px;
  font-size:1.3vw;
  text-align:center;
}
div#hosoku4 img {
  vertical-align:middle;
  margin-left:2%;
  margin-right:5px;
  width:2%;
}
div#hosoku4 span {
  vertical-align:middle;
}
/* ギア・SP属性表示のスタイル */
body#equip5 ul#stellar li span ,
body#equip4 ul#factor li span ,
body#equip3 ul#collabo li span ,
body#equip2 ul#another li span ,
body#equip ul#normal li span {
  width:100%;
  display:inline-block;
  margin:5% 0 0;
  padding:0;
  padding:0 5%;
  text-align:left;
}
body#equip5 ul#stellar li span img ,
body#equip4 ul#factor li span img ,
body#equip3 ul#collabo li span img ,
body#equip2 ul#another li span img ,
body#equip ul#normal li span img {
  width:50%;
  width:45%;
  width:37.8%;
  box-sizing:border-box;
  border:1px solid #999;
  float:left;
  display:block;
}
body#equip5 ul#stellar li span img.icons ,
body#equip4 ul#factor li span img.icons ,
body#equip3 ul#collabo li span img.icons ,
body#equip2 ul#another li span img.icons ,
body#equip ul#normal li span img.icons  {
  width:10%;
  width:9%;
  width:7.5%;
  border:0;
}
body#equip5 ul#stellar li span img.br ,
body#equip4 ul#factor li span img.br ,
body#equip3 ul#collabo li span img.br ,
body#equip2 ul#another li span img.br ,
body#equip ul#normal li span img.br {
  float:none;
}
body#equip5 ul#stellar li span img.or ,
body#equip4 ul#factor li span img.or ,
body#equip3 ul#collabo li span img.or ,
body#equip2 ul#another li span img.or ,
body#equip ul#normal li span img.or  {
  box-sizing:content-box;
  border-right:2px solid red;
}
body#equip5 ul#stellar li span img.br::after ,
body#equip4 ul#factor li span img.br::after ,
body#equip3 ul#collabo li span img.br::after ,
body#equip2 ul#another li span img.br::after ,
body#equip ul#normal li span img.br::after {
  content: "\A";
  white-space: pre;
}
body#equip5 ul#stellar li span.nosp img ,
body#equip4 ul#factor li span.nosp img ,
body#equip3 ul#collabo li span.nosp img ,
body#equip2 ul#another li span.nosp img ,
body#equip ul#normal li span.nosp img  {
  border:0;
}
body#equip5 ul#stellar li span.nosp2 ,
body#equip5 ul#stellar li span.nosp3 ,
body#equip4 ul#factor li span.nosp2 ,
body#equip4 ul#factor li span.nosp3 ,
body#equip3 ul#collabo li span.nosp2 ,
body#equip3 ul#collabo li span.nosp3 ,
body#equip2 ul#another li span.nosp2 ,
body#equip2 ul#another li span.nosp3 ,
body#equip ul#normal li span.nosp2 ,
body#equip ul#normal li span.nosp3 {
  display:none;
}
